{% extends "login-form-base.html" %}
  {% block content %}
  <a href="/login" class="btn btn-primary btn-block btn-large">Login</a>
  <div class="login">
  <h1>Register</h1>
  <br>
  <form method="post">
    <table>
      <tr>
        <td class="label">
          Username
        </td>
        <td>
          <input type="text" name="username" placeholder="Username" required="required" value={{username}}>
        </td>
        <td class="error">
          {{error_username}}
        </td>
      </tr>

      <tr>
        <td class="label">
          Password
        </td>
        <td>
          <input type="password" name="password" placeholder="Password" required="required" />
        </td>
        <td class="error">
          {{error_password}}
        </td>
      </tr>

      <tr>
        <td class="label">
          Verify Password
        </td>
        <td>
          <input type="password"  name="verify" value="">
        </td>
        <td class="error">
          {{error_verify}}
        </td>
      </tr>

      <tr>
        <td class="label">
          Email (optional)
        </td>
        <td>
          <input type="text" name="email" value="{{email}}">
        </td>
        <td class="error">
          {{error_email}}
        </td>
      </tr>
    </table>

    <button type="submit"  class="btn btn-primary btn-block btn-large">Register</button>
  </form>
{% endblock %}
